html {
  height: 100%;
}
body {
  height: 100%;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
#page-content {
  flex-grow: 2;
}

.food-image {
  height: 16vh;
  width: 16vh;
}

.shadows {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik-mono {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}